<div class=cn-slide cn-slide-sub animated fadeIn id=slide-1>
    <h2>My Work</h2>
    <a ui-sref=home class="cn-back">Back</a>
    <nav>
      <box box-title="cont.sections[0].title" box-num="cont.sections[0].num" box-xlink="cont.sections[0].xlink"></box>
      <box box-title="cont.sections[1].title" box-num="cont.sections[1].num" box-xlink="cont.sections[1].xlink"></box>
      <box box-title="cont.sections[2].title" box-num="cont.sections[2].num" box-xlink="cont.sections[2].xlink"></box>
      <box box-title="cont.sections[3].title" box-num="cont.sections[3].num" box-xlink="cont.sections[3].xlink"></box>
    </nav>
</div>
